.elementor-4598 .elementor-element.elementor-element-9510000 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --gap: 0px 0px;
  --background-transition: 0.3s;
}
.elementor-4598 .elementor-element.elementor-element-19fae8f {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-4598 .elementor-element.elementor-element-19fae8f.e-con {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-4598 .elementor-element.elementor-element-7d51b75 .elementor-button {
  font-family: "Roboto", Sans-serif;
  font-weight: 500;
  fill: #ffffff;
  color: #ffffff;
  background-color: #ffffff00;
  border-style: dashed;
}
.elementor-4598 .elementor-element.elementor-element-09fb019 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-4598 .elementor-element.elementor-element-09fb019.e-con {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-4598
  .elementor-element.elementor-element-c894595
  .elementor-counter-number-wrapper {
  color: #000000;
  font-family: "Roboto", Sans-serif;
  font-weight: 800;
}
.elementor-4598
  .elementor-element.elementor-element-c894595
  .elementor-counter-title {
  font-family: "Roboto Slab", Sans-serif;
  font-weight: 400;
}
.elementor-4598 .elementor-element.elementor-element-c894595.elementor-element {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-4598
  .elementor-element.elementor-element-c894595
  > .elementor-widget-container {
  background-color: #ffffff;
}
.elementor-4598
  .elementor-element.elementor-element-c894595.ha-has-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-4598 .elementor-element.elementor-element-748c7f1 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-4598
  .elementor-element.elementor-element-ecad256
  .elementor-button
  .elementor-align-icon-right {
  margin-left: 8px;
}
.elementor-4598
  .elementor-element.elementor-element-ecad256
  .elementor-button
  .elementor-align-icon-left {
  margin-right: 8px;
}
.elementor-4598 .elementor-element.elementor-element-ecad256 .elementor-button {
  font-family: "Roboto", Sans-serif;
  font-weight: 600;
  background-color: #ff195200;
  border-style: solid;
  border-color: #ffffff;
}
.elementor-4598
  .elementor-element.elementor-element-73f60dc:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-4598
  .elementor-element.elementor-element-73f60dc
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-4598
  .elementor-element.elementor-element-73f60dc
  > .elementor-element-populated {
  box-shadow: 0px 0px 10px 0px #000000;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-4598
  .elementor-element.elementor-element-73f60dc
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-4598
  .elementor-element.elementor-element-0deacfc
  .elementor-wrapper {
  --video-aspect-ratio: 0.5625;
  filter: brightness(100%) contrast(100%) saturate(100%) blur(0px)
    hue-rotate(0deg);
}
.elementor-4598
  .elementor-element.elementor-element-e51a03f
  .elementor-heading-title {
  color: #000000;
  font-family: "Roboto", Sans-serif;
  font-weight: 600;
}
.elementor-4598
  .elementor-element.elementor-element-98bd72e
  .elementor-heading-title {
  color: #000000;
  font-family: "Roboto", Sans-serif;
  font-weight: 600;
}
.elementor-4598
  .elementor-element.elementor-element-005491e
  .elementor-heading-title {
  color: #000000;
  font-family: "Roboto", Sans-serif;
  font-weight: 600;
}
.elementor-4598
  .elementor-element.elementor-element-bd18a03
  .elementor-heading-title {
  color: #000000;
  font-family: "Roboto", Sans-serif;
  font-weight: 600;
}
.elementor-4598
  .elementor-element.elementor-element-efbf880
  .elementor-heading-title {
  color: #000000;
  font-family: "Roboto", Sans-serif;
  font-weight: 600;
}
.elementor-4598 .elementor-element.elementor-element-08e393f {
  --spacer-size: 50px;
}
.elementor-4598
  .elementor-element.elementor-element-d4db159
  .elementor-button
  .elementor-align-icon-right {
  margin-left: 9px;
}
.elementor-4598
  .elementor-element.elementor-element-d4db159
  .elementor-button
  .elementor-align-icon-left {
  margin-right: 9px;
}
.elementor-4598 .elementor-element.elementor-element-d4db159 .elementor-button {
  font-family: "Roboto", Sans-serif;
  font-weight: 600;
  fill: #000000;
  color: #000000;
  background-color: #19f0ff;
  border-style: none;
}
.elementor-4598
  .elementor-element.elementor-element-4ed40db
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Roboto", Sans-serif;
  font-weight: 300;
}
body.elementor-page-4598:not(.elementor-motion-effects-element-type-background),
body.elementor-page-4598
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../2024/02/dream.png");
  background-size: 500% 100%;
  animation: degrade-animado 4s infinite alternate;
}
@media (min-width: 768px) {
  .elementor-4598 .elementor-element.elementor-element-19fae8f {
    --width: 50%;
  }
  .elementor-4598 .elementor-element.elementor-element-09fb019 {
    --width: 50%;
  }
  .elementor-4598 .elementor-element.elementor-element-73f60dc {
    width: 27.796%;
  }
  .elementor-4598 .elementor-element.elementor-element-eb2a712 {
    width: 4.87%;
  }
}
@media (min-width: 1025px) {
  body.elementor-page-4598:not(
      .elementor-motion-effects-element-type-background
    ),
  body.elementor-page-4598
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: fixed;
  }
}
@media (max-width: 767px) {
  .elementor-4598 .elementor-element.elementor-element-19fae8f {
    --width: 137px;
    --align-items: flex-start;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
    --gap: 0px 0px;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
  }
  .elementor-4598
    .elementor-element.elementor-element-7d51b75
    .elementor-button {
    font-size: 12px;
    border-width: 1px 1px 1px 1px;
    border-radius: 9px 9px 9px 9px;
    padding: 6px 6px 4px 7px;
  }
  .elementor-4598
    .elementor-element.elementor-element-7d51b75
    > .elementor-widget-container {
    margin: -16px 0px 0px -10px;
  }
  .elementor-4598
    .elementor-element.elementor-element-7d51b75.elementor-element {
    --align-self: flex-start;
  }
  .elementor-4598 .elementor-element.elementor-element-09fb019 {
    --width: 62%;
    --min-height: 0px;
    --margin-block-start: 42px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
  }
  .elementor-4598
    .elementor-element.elementor-element-c894595
    .elementor-counter-number-wrapper {
    font-size: 20px;
  }
  .elementor-4598
    .elementor-element.elementor-element-c894595
    > .elementor-widget-container {
    margin: -11px 0px 0px 0px;
    padding: 8px 0px 18px 0px;
    border-radius: 5px 5px 5px 5px;
  }
  .elementor-4598
    .elementor-element.elementor-element-c894595.elementor-element {
    --align-self: center;
  }
  .elementor-4598
    .elementor-element.elementor-element-ecad256
    .elementor-button {
    font-size: 20px;
    border-width: 2px 2px 2px 2px;
    padding: 10px 60px 10px 60px;
  }
  .elementor-4598 .elementor-element.elementor-element-3f06006 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .elementor-4598 .elementor-element.elementor-element-73f60dc {
    width: 100%;
  }
  .elementor-4598
    .elementor-element.elementor-element-73f60dc
    > .elementor-element-populated,
  .elementor-4598
    .elementor-element.elementor-element-73f60dc
    > .elementor-element-populated
    > .elementor-background-overlay,
  .elementor-4598
    .elementor-element.elementor-element-73f60dc
    > .elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
  }
  .elementor-4598
    .elementor-element.elementor-element-73f60dc
    > .elementor-element-populated {
    margin: 10px 40px 10px 40px;
    --e-column-margin-right: 40px;
    --e-column-margin-left: 40px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-4598 .elementor-element.elementor-element-ec83050 img {
    width: 50%;
  }
  .elementor-4598
    .elementor-element.elementor-element-ec83050
    > .elementor-widget-container {
    margin: 10px 10px 10px 10px;
  }
  .elementor-4598
    .elementor-element.elementor-element-0deacfc
    > .elementor-widget-container {
    margin: -10px 0px 0px 0px;
  }
  .elementor-4598 .elementor-element.elementor-element-e51a03f {
    text-align: center;
  }
  .elementor-4598
    .elementor-element.elementor-element-e51a03f
    .elementor-heading-title {
    font-size: 20px;
  }
  .elementor-4598
    .elementor-element.elementor-element-7619498
    > .elementor-widget-container {
    margin: -8px 0px 0px 0px;
  }
  .elementor-4598 .elementor-element.elementor-element-98bd72e {
    text-align: center;
  }
  .elementor-4598
    .elementor-element.elementor-element-98bd72e
    .elementor-heading-title {
    font-size: 20px;
  }
  .elementor-4598
    .elementor-element.elementor-element-98bd72e
    > .elementor-widget-container {
    margin: -6px 0px 3px 0px;
  }
  .elementor-4598
    .elementor-element.elementor-element-ab441c2
    > .elementor-widget-container {
    margin: -8px 0px 0px 0px;
  }
  .elementor-4598 .elementor-element.elementor-element-005491e {
    text-align: center;
  }
  .elementor-4598
    .elementor-element.elementor-element-005491e
    .elementor-heading-title {
    font-size: 19px;
  }
  .elementor-4598
    .elementor-element.elementor-element-005491e
    > .elementor-widget-container {
    margin: 0px 0px 3px 0px;
  }
  .elementor-4598
    .elementor-element.elementor-element-4c0e3b6
    > .elementor-widget-container {
    margin: -12px 28px 0px 56px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-4598 .elementor-element.elementor-element-bd18a03 {
    text-align: center;
  }
  .elementor-4598
    .elementor-element.elementor-element-bd18a03
    .elementor-heading-title {
    font-size: 13px;
  }
  .elementor-4598
    .elementor-element.elementor-element-bd18a03
    > .elementor-widget-container {
    margin: -20px 0px 20px 6px;
  }
  .elementor-4598 .elementor-element.elementor-element-efbf880 {
    text-align: center;
  }
  .elementor-4598
    .elementor-element.elementor-element-efbf880
    .elementor-heading-title {
    font-size: 18px;
  }
  .elementor-4598
    .elementor-element.elementor-element-efbf880
    > .elementor-widget-container {
    margin: -27px 0px -3px 0px;
  }
  .elementor-4598 .elementor-element.elementor-element-08e393f {
    --spacer-size: 10px;
  }
  .elementor-4598
    .elementor-element.elementor-element-d4db159
    .elementor-button {
    font-size: 17px;
    padding: 10px 50px 10px 50px;
  }
  .elementor-4598
    .elementor-element.elementor-element-d4db159
    > .elementor-widget-container {
    margin: 13px 0px 0px 0px;
  }
  .elementor-4598 .elementor-element.elementor-element-64d8d76 {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .elementor-4598 .elementor-element.elementor-element-0b883d8 img {
    width: 27%;
  }
  .elementor-4598
    .elementor-element.elementor-element-0b883d8
    > .elementor-widget-container {
    margin: 40px 0px 0px 0px;
    padding: 0px 15px 0px 0px;
  }
  .elementor-4598 .elementor-element.elementor-element-4ed40db {
    text-align: center;
  }
  .elementor-4598
    .elementor-element.elementor-element-4ed40db
    .elementor-heading-title {
    font-size: 11px;
  }
  .elementor-4598
    .elementor-element.elementor-element-4ed40db
    > .elementor-widget-container {
    margin: -14px 0px 30px 0px;
  }
  body.elementor-page-4598 {
    margin: 5px 0px 0px 0px;
  }
  body.elementor-page-4598:not(
      .elementor-motion-effects-element-type-background
    ),
  body.elementor-page-4598
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
  }
  @keyframes degrade-animado {
    0% {
      background-position-x: 0%;
    }
    100% {
      background-position-x: 100%;
    }
  }
}
